
@model Product

<style>

    .fa-chevron-right, .fa-chevron-left {
        font-size: 3em;
        color: #59ab6e;
    }

    .grad {
        background: linear-gradient(to right, #59ab6e,darkgreen);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .carousel-indicators li {
        background-color: #59ab6e !important;
    }

    .hoverable-cards.card-img-overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }


    .hoverable-cards.card:hover .card-img-overlay {
        opacity: 0.9;
    }

    .hoverable-cards.card-body {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
    }

    .hero-section div img {
        opacity: 0.3;
    }

    .trial-container {
        width: 80%;
        margin: 0 auto;
    }

    .hoverable-cards.card-img-overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .hoverable-cards.card:hover .card-img-overlay {
        opacity: 0.9;
    }

    .hoverable-cards.card-body {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
    }
</style>



<div class="row container-fluid marg">
    <h2 class="grad text-center pt-5">@Model.Name 's Details</h2>
    <hr class="mt-4 mb-4" />
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="/Images/@Model.Image" alt="Product Image" class="card-img-top" style="height:37rem;" />
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100" style="border: none; min-width:40em; max-width:100em; flex-grow:1;">
            <div class="card-body mt-3 ms-3">
                <h5 class="card-title">@Model.Name</h5>
                <h4 class="card-title mt-3 mb-3">Price : @Model.Price</h4>
                <h4 class="card-title mt-3 mb-3">Category : @Model.Category.Name</h4>
                <h4 class="card-title mt-3 mb-3">Duration : @Model.Duration</h4>
                <h4 class="card-title mt-3 mb-3">CreationDate: @Model.CreationDate</h4>
                <h4 class="card-title mt-3 mb-3">StartDate : @Model.StartDate</h4>
            </div>
        </div>
        <td><a asp-action="GetAllProduct" asp-controller="Product" >Back to List</a></td>

    </div>
    <hr class="mb-4" />
</div>